<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>NGAS</title>
</head>
<body>
    <nav class="nav_bar">
        <div class="title">
            <a href="/main" class="title_name">Main</a>
        </div>
        <div class="functions">
            <div>User</div>
            <div>Settings</div>
            <button id="logout_btn">logout</button>
        </div>
    </nav>
    <section class="main">
        <div class="highlights">
            <div class="item_list">
                <div>item1</div>
                <div>item2</div>
                <div>item3</div>
            </div>
        </div>
    </section>
    <script src="/javascripts/main.js"></script>
</body>
</html>